@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", sans-serif;
  color: #161c2d;
}

.bg-main {
  background-color: #161c2d;
}

.bg-button {
  background-color: #5c5bba;
  color: white;
}
.bg-back {
  background-color: #F7F7FC;
}

.text-sec {
  color: #5C5BBA;
}

.text-p {
  color: #adb0b5;
}
